@media screen and (max-width:760px) {
    .contacts-list-container header .header-text, .contact-container header .header-text {
        padding-left: 20px !important;

    }

    .contacts-list-container header .header-text h1, .contact-container header .header-text h1 {
        font-size: 30px;

    }

    .contacts-list-container .content .letters {
        margin: 0 15px 30px 15px !important;
    }
   
    .contacts-list-container header .search-container input[type=text]:focus {
        width: 80% !important;
    }

    .contact-container .content .contact-section .contact {
        height: 530px !important;
    }

    .contact-container .content .contact-section .contact .contact-photo {
        float: none !important;
    }

    .contact-container .content .contact-section .contact .contact-data, .contact-container .content .contact-section .contact .form-data {
        float: none !important;
        margin-left: 0 !important;
        margin-bottom: 0 !important;
        margin-top: 20px !important;
        width: 100% !important;
    }


}

@media screen and (max-width:450px) {
    .contacts-list-container header .header-text h1, .contact-container header .header-text h1 {
        font-size: 25px;

    }

    .contact-container .content .contact-section .contact {
        width: 100% !important;
    }


}   